:root {
  /* основний колір тексту */
  --primary_text-color: #eeeded;
  --gradient: linear-gradient(to bottom, #03c7a3, #1892dd);

  --backgrond_soc_color: #1892ddab;

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
